<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h4>Routing sample</h4>
  <br>
  <button routerLink="newcust">New Customer</button>
  <button routerLink="neworder">New Order</button>

  
</div>   -->

<!-- <app-sample2></app-sample2> -->
<!-- <app-sample3keyframes></app-sample3keyframes> -->
<!-- <app-samplestagger></app-samplestagger>-->
<!-- <app-servicesample></app-servicesample> -->
<!-- <app-menu></app-menu> -->
<!-- <router-outlet></router-outlet>  -->
<!-- <app-login ></app-login> -->


<!-- <app-hospitalview></app-hospitalview> -->

<!-- <app-departmentview></app-departmentview> -->
<app-droupdown></app-droupdown>
